.container {
  max-width: 80%;
  height: auto;

  margin: 150px auto 50px auto;
  padding: 12px;
}
.container > h1 {
  font-size: 32px;
  color: teal;
  letter-spacing: 1px;
}

.container > p {
  font-size: 20px;
}

.productDetailsContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 50px auto;
}
.leftContainer {
  width: 50%;
  height: auto;
}

.productCard {
  display: flex;

  margin: 24px auto;
  padding: 8px;

  height: 120px;
  box-shadow: 0 4px 5px #ccc;
  box-sizing: border-box;
  border-radius: 8px;

  cursor: pointer;
  transition: ease 0.5s;
}

.productCard:hover {
  background-color: #aaaaaa;
}

.productCard:first-of-type {
  margin-top: 0;
}

.productCard > img {
  width: 80px;
}

.detail {
  margin-left: 16px;
}

.detail > h3 {
  margin: 8px auto;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #515151;
}

.detail > p {
  margin-top: 8px;
  margin-bottom: 0;
}

.rightContainer {
  width: 49%;
  height: auto;

  text-align: center;
}

.totalAmount {
  width: 500px;
  box-shadow: 0 2px 5px #ccc;
  margin: 0 auto;
}

.totalAmount > h2 {
  font-size: 32px;
  margin-bottom: 8px;
  color: teal;
}

.totalAmount > p {
  margin-top: 8px;
  font-size: 18px;
}

.totalAmount button {
  border: none;
  padding: 12px 24px;
  font-size: 18px;

  background-color: teal;
  border-radius: 8px;
  color: white;
  margin-bottom: 18px;
  cursor: pointer;
}
